    
<div *ngIf="idUser" class="bg-light">
  <h4 class="m-2">Создать короткую ссылку</h4>
   
  <div class="row m-2">
    <mat-form-field [formGroup]="form" class="col">
      <mat-label>Ссылка на ресурс</mat-label>
      <input formControlName="fullUrl" matInput type="text">
    </mat-form-field>
    <button (click)="createShortLinkButtonClick()" color="primary" mat-raised-button class="col-md-auto justify-content-end">Создать</button>
  </div>
  <table class="w-100 m-2 table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" class="col-4">Полная ссылка</th>
        <th scope="col" class="col-2">Токен ссылки</th>
        <th scope="col" class="col">Короткая ссыла</th>        
        <th scope="col" class="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let short of shortLinkObs | async; index as i">         
          <th scope="row">{{i + 1}}</th>
          <td><a href="{{short.fullUrl}}">{{short.fullUrl}}</a></td>
          <td>{{short.shortLinkToken}}</td>
          <td><a href="{{apiUrl}}/{{short.shortLinkToken}}">{{apiUrl}}/{{short.shortLinkToken}}</a></td>
          <td><button (click)="deleteShortLinkButtonClick(short.idShortLink)" color="warn" mat-raised-button>Удалить</button></td>       
      </tr>  
    </tbody>
  </table>
</div>
