<mat-toolbar class="bg-primary row" >
    <h2 routerLink="/" class="col">Short-link-generator</h2>    
  
    <div *ngIf="!user" class="col d-flex justify-content-end">
      <button routerLink="/login" mat-raised-button class="m-1 bg-light">Войти</button>
      <button mat-raised-button class="m-1 bg-light">Зарегестрироваться</button>
    </div>
  
    <div *ngIf="user" class="col d-flex justify-content-end">
      <div [matMenuTriggerFor]="menu">      

             <span>{{ user!.name}} {{ user!.surname }}</span>
      </div>
      <mat-menu #menu="matMenu">
        <button (click)="logout()" mat-menu-item>
          <span>Выйти из аккаунта</span>
        </button>
      </mat-menu>
  
    </div>
  </mat-toolbar>